@tailwind base;
@tailwind components;
@tailwind utilities;

.text-box {
  margin-top: 150px;
  margin-left: 100px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 600px;
  height: 500px;
  overflow: scroll;
}

.aboutPic {
  position: absolute;
  margin-top: -500px;
  margin-left: 750px;
  width: 500px;
  height: 500px;
}

.teamPic {
  width: 100px;
  height: 100px;
}
