@tailwind base;
@tailwind components;
@tailwind utilities;

.aa {
  font-weight: 500;
  color: #1d1d20;
  text-decoration: inherit;
}

.aa:hover {
  color: #000000;
}

.text-box {
  /* margin-top: 80px; */
  margin-left: 125px;
  /* border-style: solid; */
  /* border-color: transparent; */
  /* border-width: 5px; */
  width: 600px;
  height: 500px;
  overflow: scroll;
}

.aboutPic {
  /* position: absolute; */
  margin-top: -500px;
  margin-left: 825px;
  width: 500px;
  height: 500px;
}

.teamImageContainer {
  margin-top: 50px;
  margin-left: 100px;
  /* display: flex; */
}

.teamPic {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}