@tailwind base;
@tailwind components;
@tailwind utilities;

.company-name {
  font-size: 40px;
  position: fixed;
  top: 0px;
  display: flex;
  margin: 30px;
  left: 151px;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: antiquewhite;*/
  margin: 20px;
  color: black;
}

.button {
  font-size: 13px;
  color: #232323;
  background-color: #e0f2fe;
  padding: 13px 25px;
  margin: 15px;
  border: none;
  border-radius: 30em;
}

.navigation a {
  display: inline-block;
  color: inherit;
  border-radius: 20px; /* Add rounded corners */
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.navigation li:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.background-image {
  margin: 85px;
  width: 660px;
  height: 480px;
  opacity: 0.5; /* Making the image transparent */
}

.mission-statement {
  position: fixed;
  top: 250px;
  display: flex;
  margin: 25px;
  left: 80px;
}

.log-in {
  position: fixed;
  top: 200px;
}